.barre-haut {position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: rgb(250, 101, 78);
    color:aqua ;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}
.btn-compte {
    padding: 8px 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius:4px ;
}
.texte-bienvenue {
    display: flex;
    justify-content: start;
    color: black;
}