.barre-haut {position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: rgb(203, 197, 255);
    color:aqua ;
    display:flex;
    align-items: center;
    justify-content: end;

}
.btn-compte {
    padding: 8px 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius:4px ;




}